<div id="<%= dom_id lecture %>">
  <p>
    <strong>Name:</strong>
    <%= lecture.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= lecture.description %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= lecture.url %>
  </p>

  <p>
    <strong>Section:</strong>
    <%= lecture.section_id %>
  </p>

</div>
