<nav class="navbar">
  <div class="navbar-logo">
    <img src="https://robohash.org/sitsequiquia.png?size=300x300&set=set1" alt="Logo" class="nav-logo">
  </div>
  <ul class="navbar-links">
    <li><a href="#">Link 1</a></li>
    <li><a href="#">Link 2</a></li>

    <% if user_signed_in? %>
    <li>
      Welcome <%= current_user.email %>
    </li>
    <li>
      <%= link_to "Edit your info", edit_user_registration_path %>
    </li>
    <li>
      <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
    </li>
    <% else %>
    <li>
      <%= link_to "Login", new_user_session_path %>

    </li>
    <li>
      <%= link_to "Sign up", new_user_registration_path %>
      
    </li>
    <li>
      hello
    </li>
    <% end %>
  </ul>
</nav>
