<div id="<%= dom_id course %>">
  <p>
    <strong>Name:</strong>
    <%= course.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= course.description %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= course.language_id %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= course.category_id %>
  </p>

</div>
